body{
    background-color: #64615c;
}
h1{
    color:#4c341a;
    text-align: center;
}
.container{
    border: 5px solid #301600;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    align-content: center;
    justify-content: center;
}
hr{
    border-color: #3a0000;
    width: 500px;
}
div.Center_Buttons{
    display: grid;
    place-items: center;
    height: 25vh;
}